@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sora', sans-serif;
}

/* Adding a smooth transition for all elements */
* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Custom selection color to match your new minimalist brand */
::selection {
  background: #111;
  color: white;
}